
.logout{

    position:absolute;
    right:30px;
    top:10px;
    color: #fff;
    
 }
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/ed/95/07/limak-eurasia-luxury.jpg?w=700&h=-1&s=1') no-repeat;
    background-size: cover;
    background-position: center;
}