.registration-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background:url('https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-thumb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.registration-container {
    max-width: 500px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.form-group {
  margin-bottom: 15px;
  color:#eee
}

.form-control {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  color: #eee;
}

.form-control::placeholder {
    color: #eee;
}

.alert {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:disabled {
  background-color: #a0cfff;
  cursor: not-allowed;
}
