spring:
  application:
    name: Hotel_Management
  datasource:
    url: jdbc:postgresql://localhost:5432/hotel_management
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 1998

jwt:
  secret: your-super-secret-key-that-is-long-and-secure
