div{
    width: 300px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=') no-repeat;
    background-size: cover;
    background-position: center;
}