<body>
<div class="alert alert-danger">
    <select (change)="selectone(hid.value)" 
            #hid 
            class="form-control">
        <option>--select--</option>
        <option *ngFor="let hot of hotels" [value]="hot.id">
            {{hot.id}}--{{hot.name}}
        </option>
    </select>
    <div *ngIf="hotel.id != 0">
        Hotel Id : {{hotel.id}}
        <br/>
        Hotel Name : {{hotel.name}}
        <br/>
        Hotel Location: {{hotel.location}}
        <br/>
        Hotel Phone : {{hotel.phone}}
        <br/>
        <button (click)="deleteHotel()" class="btn btn-danger">Delete Hotel</button>
    </div>
    <!-- <button (click)="show()" class="btn btn-warning">Show First</button> -->
    
</div>
<router-outlet></router-outlet>
</body>