/* Add custom styles here if needed */
.container {
  padding: 20px;
  color : #eee;
  margin-top: 4;
  background: #ffffff3b;
}


.table-responsive{
background: #e9ecef;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
padding: 20px;
font-size: 1.2rem;
font-weight: bold;
font-family: 'Poppins', sans-serif;
color: #333;
}

